{% extends 'base.html.twig' %}

{% block title %}Lyceens{% endblock %}

{% block body %}
    <h1>Lyceens</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lyceen.id }}</td>
            </tr>
            <tr>
                <th>Lycee</th>
                <td>{{ lyceen.lycee }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ lyceen.section }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lyceen.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ lyceen.tel }}</td>
            </tr>
            <tr>
                <th>Date_inscription</th>
                <td>{{ lyceen.dateInscription ? lyceen.dateInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lyceens_index') }}">back to list</a>

    <a href="{{ path('app_lyceens_edit', {'id': lyceen.id}) }}">edit</a>

    {{ include('lyceens/_delete_form.html.twig') }}
{% endblock %}
